body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(13, 17, 23);
}

#cabecalho {
  background-color: rgb(253, 251, 251);
  position: fixed;
  top: 0;
  left: 0;
  background-color: blue;
  width: 100%;
}

#titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 36px;
  height: auto;
  margin: auto;
  padding: 5px;
  border: 1px black solid;
}
